{{>layout/header}}

{{#emails}}
<details>
	<summary><h1 style="display: inline-block;">{{subject}}</h1></summary>
	<div>from &lt;{{sender}}&gt;:</div>
	<div style="white-space: pre-line;">{{text}}</div>
</details>
{{/emails}}

{{#replys}}
<details>
	<summary><h2 style="display: inline-block;">{{subject}}</h2></summary>
	<div>from &lt;{{sender}}&gt;:</div>
	<div style="white-space: pre-line;">{{text}}</div>
</details>
{{/replys}}

<h2>Reply</h2>
<form id="reply-form" class="form form--reply">
	<div class="form__row">
		<textarea id="reply-textarea" class="form__input form__input--textarea"></textarea>
	</div>
	<div class="form__row">
		<input type="submit" class="button form__input form__input--submit" value="Send">
	</div>
</form>

<script>
	{
		const lastDetails = document.querySelector("details:last-of-type");
		if (lastDetails) lastDetails.open = true;

		const replyForm = document.getElementById("reply-form");
		const replyTextarea = document.getElementById("reply-textarea");
		replyForm.addEventListener("submit", event => {
			event.preventDefault();
			fetch(
				"/api/v1/emails/{{id}}",
				{
					method: "POST",
					headers: {
						"Accept": "application/json",
						"Content-Type": "application/json",
					},
					body: JSON.stringify({
						text: replyTextarea.value,
					}),
				},
			)
				.then(res => res.json())
				.then(json => {
					replyTextarea.value = null;
					location.reload();
				})
				.catch(console.error);
		});
	}
</script>

<div><button id="fetch">fetch emails</button></div>

<script>
	{
		const fetchButton = document.getElementById("fetch");
		fetchButton.addEventListener("click", event => {
			fetch("/api/v1/emails/fetch")
				.then(res => res.text())
				.then(text => {
					if (text === "true") location.reload();
				})
				.catch(console.error);
		});
	}
</script>

{{>layout/footer}}
