{{>layout/header}}

<h1>Supp II</h1>
<p>kind of support ticket help something application mk ii</p>
{{#userName}}
<p>hi {{userName}}!</p>
<div>
	<button id="user">be user</button>
	<button id="guest">be guest</button>
</div>

<script>
	{
		const beUser = document.getElementById("user");
		const beGuest = document.getElementById("guest");
		beUser.addEventListener("click", event => {
			fetch("/api/v1/user/user")
				.then(res => res.text())
				.then(console.log)
				.catch(console.error);
		});
		beGuest.addEventListener("click", event => {
			fetch("/api/v1/user/guest")
				.then(res => res.text())
				.then(console.log)
				.catch(console.error);
		});
	}
</script>

<div><a href="/logout">logout</a></div>
{{/userName}}
{{^userName}}
<div><a href="/oauth2/authorization/google">google login</a></div>
{{/userName}}

{{>layout/footer}}
